/* grid-content */
.grid-content {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__card {
    border: none;
    background: transparent;
    color: #fff;
    min-width: 314px;
    min-height: 72px;
    &-logo {
      border: 3px solid #fff;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 72px;
      height: 72px;
    }
    &-image {
      width: 52px;
      height: 52px;
    }
  }
  &__title {
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    font-family: var(--paragraphe);
  }
}
.grid-content__card-wrapper_margin_bottom {
  padding-bottom: 70px;
}
