/* fonts */
@font-face {
  font-family: 'urceSansPro-Bold';
  src:
    local('SansPro-Bold'),
    url('/assets/fonts/SourceSansPro-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/sourcesanspro-bold-webfont.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/sourcesanspro-bold-webfont.woff2') format('woff2'); /* Modern Browsers */

  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'SourceSansPro-Regular';
  src:
    local('SansPro-Regular'),
    url('/assets/fonts/SourceSansPro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/sourcesanspro-regular-webfont.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'); /* Modern Browsers */

  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
