/* color vars */
:root {
  --accent: #87ad3b;
  --shadedAccent: #708c39;
  --lightAccent: #acff5f;
  --mediumAccent: #acd35f;
  --basisText: #414042;
  --menuBackground: #414042;
  --element: #f0c53f;
  --elementSecond: #d1d3d4;
  --additional: #e89a04;

  /* fonts vars */
  --bold: 'urceSansPro-Bold';
  --paragraphe: 'SourceSansPro-Regular', serif;
}
