/* nav menu */
.menu {
  max-height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: 1/3;
  background: var(--menuBackground);
  &_margin_top {
    margin-top: 17px;
  }
  &__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 14px;
    height: 27px;
    width: 39px;
    z-index: 100;
  }
  &__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-family: var(--bold);
    &:hover {
      color: #a29f9f;
      transition: all 0.5s ease-in-out;
    }
    &:active,
    &:focus {
      transition: none;
      border-bottom: 2px solid  #e89a04;
    }
    &_style_light {
      padding-left: 17px;
      font-size: 16px;
      line-height: 20px;
      font-family: var(--paragraphe);
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__pull-list {
    margin-left: 40px;
    width: 54px;
    height: 120px;
    position: relative;
    display: flex;
    align-items: center;
  }
  &__item {
    z-index: 10;
    position: relative;
  }
}
